/*

# Written by Francesco Palumbo

# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

* 
{ 
    margin:0; 
    padding:0; 
}

body
{
    background-color: white;
    overflow: hidden;
}

.interactive_row
{
    display: flex;

    position: relative;
    
    padding-top: 20px;
    padding-bottom: 20px;

    width: 100%;
}

.item_head
{
    display: flex;

    justify-content: space-around;

    border: 1px solid black;
    background-color: lightgrey;
    width: 4%;
}

.checkbox
{
    align-self: center;
    transform: scale(3);
}

.date
{
    border: 1px solid green;
    background-color: lightgrey;
    width: 18%;
}

.data
{
    word-wrap: break-word;

    max-width: 70%;

    background-color: cyan;    

    border: 2px solid black;
    
    border-radius: 5px;
}

.vertical_spacer
{
    height: 5px;
}

.horizontal_spacer
{
    width: 5px;
}

.app_btn
{
    font-family: sans-serif;
    border: 2px solid black;
    border-radius: 10px;
    background-color: grey;
    color: white;
    font-size: 12px;
}

.app_btn:hover
{
    background-color: darkmagenta;
}

.text_input
{
    position: relative;
    width: 80%;

    border: 1px solid blue;
    border-radius: 5px;
}

.vertical_expander
{
    position: relative;
    height: 20%;
}

.top_checkbox
{
    float: left;
}

.top_checkbox_text
{
    float: left;
}

#title_h
{
    overflow: hidden;
}

#userid
{
    overflow: hidden;
}

#page_div
{
    display: inline-block;
    width: 100%;
    height: 100%;

    text-align: center;
}

#main_div
{
    position: relative;

    float: left;
    background-color: gray;

    width: 20%;
    height: 100%;
}


#input_div, #user_div
{

    display: block;
    position: relative;

    padding-top: 20px;
    padding-bottom: 20px;

    width: 100%;

}

#input_div
{
    background-color: lightgray;
    color: black;
}

#user_div
{
    background-color: cyan;
    color: magenta;
}

#results
{
    display: inline-block;

    position: relative;

    overflow: auto;
    text-align: center;

    height: 100%;
    width: 80%;
}

#header_div
{
    position: relative;
    text-align: left;

    background-color: yellow;
    height: 8%;
}

#subheader_first_div
{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    float: left;
    width: 20%;

    height: 100%;

    font-weight: bold;

    white-space: nowrap;

    text-align: center;

    overflow: hidden;
}

#subheader_second_div
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    float: left;
    width: 80%;
    height: 100%;

    font-weight: bold;

    white-space: nowrap;

    text-align: center;

    overflow: hidden;
}
